<p id="notice"><%= notice %></p>

<h1>File Statistics Calculator</h1>

<table id="file_list">
  <thead>
    <tr>
      <th>Filename</th>
      <th>Most Popular</th>
      <th>Least Popular</th>
      <th>Palindromes</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @file_stats.each do |file_stat| %>
      <tr>
        <td><%= file_stat.filename %></td>
        <td>
          <% if file_stat.most_status %>
            Available
          <% else %>
            Processing
          <% end %>
        </td>
        <td><%= file_stat.least_status %></td>
        <td><%= file_stat.palindrome_status %></td>
        <td><%= link_to 'Show', file_stat %></td>
        <td><%= link_to 'Edit', edit_file_stat_path(file_stat) %></td>
        <td><%= link_to 'Delete', file_stat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New File Stat', new_file_stat_path %>
<br>
<h3 class="js">Job Count: <%= get_queue_length() %></h3>


