<p id="notice"><%= notice %></p>

<p>
  <strong>Filename:</strong>
  <%= @file_stat.filename %>
</p>

<p>
  <strong>Job ID:</strong>
  <%= @file_stat.job_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @file_stat.status %>
  <% if @file_stat.status == 'Processing' %>
    <br><strong>&nbsp;Progress:</strong>
    <%= @file_stat.progress %>
  <% end %>
  <% if @file_stat.status.downcase().include? 'error' %>
    <br><strong>&nbsp;Message:</strong>
    <%= @file_stat.status_message %>
  <% end %>
</p>

<%= button_to 'Back to analysis list', file_stats_path, :method => "get"  %>
<br>

<% if @file_stat.status == 'Processed' %>
  <h2> Results of analysis </h2>
  <%= File.read("/tmp/file_stats/results/#{@file_stat.job_id}/palindromes.txt") %>
<% end %>


