<p id="notice"><%= notice %></p>

<p>
  <strong>Filename:</strong>
  <%= @file_stat.filename %>
</p>

<p>
  <strong>Status:</strong>
  <%= @file_stat.status %>
  <% if @file_stat.status == 'Processing' %>
    <br><strong>&nbsp;Progress:</strong>
    <%= @file_stat.progress %>
  <% end %>
  <% if @file_stat.status.downcase().include? 'error' %>
    <br><strong>&nbsp;Message:</strong>
    <%= @file_stat.status_message %>
  <% end %>
</p>

<%= button_to 'Back to analysis list', file_stats_path, :method => "get"  %>
<br>

<% if @file_stat.status == 'Processed' %>

  <h2>Results of analyses</h2>

  <h3>Top 10 most frequent words:</h3>
  <table id="result_list">
  <thead>
    <tr>
      <th>Word</th>
      <th>Frequency</th>
    </tr>
  </thead>

  <tbody>
    <% File.open("#{get_results_dir(@file_stat.id)}most.txt").each do |file_stat| %>
      <tr>
        <td><%= file_stat.split(',')[0] %></td> <td><%= file_stat.split(',')[1] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

  <h3>Palindromic words:</h3>
  <table id="result_list">
  <thead>
    <tr>
      <th>Word</th> <th>Frequency</th>
    </tr>
  </thead>

  <tbody>
    <% File.open("#{get_results_dir(@file_stat.id)}palindromes.txt").each do |file_stat| %>
      <tr>
        <td><%= file_stat.split(',')[0] %></td> <td><%= file_stat.split(',')[1] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Least frequent words:</h3>
  <table id="result_list">
  <thead>
    <tr>
      <th>Word</th> <th>Frequency</th>
    </tr>
  </thead>

  <tbody>
    <% File.open("#{get_results_dir(@file_stat.id)}least.txt").each do |file_stat| %>
      <tr>
        <td><%= file_stat.split(',')[0] %></td> <td><%= file_stat.split(',')[1] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>


